body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}

ol {
    list-style-type: none;
    background-color: aliceblue;
}

li {
    display: inline-block;
    padding: 30px 30px 30px 30px;
}

h1 {
    margin-top: 5px;
    text-align: center;
}
